.infoCardWrap,
.pc {
  padding: 20px;

  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  border: 1px solid #e3e8f7;
  border-radius: 8px;

  .infoCardMy {
    display: flex;
    align-items: center;
    .infoCardMyAvatar {
      width: 80px;
      height: 80px;
    }
    .infoCardMyDetail {
      margin-left: 18px;
      color: #fff;
      .infoCardMyWel {
        text-align: left;
        background: rgba(255, 255, 255, 0.25);
        font-size: 12px;
        padding: 2px 10px;
        border-radius: 4px;
      }
      .infoCardMyName {
        font-weight: 700;
        font-size: 30px;
        line-height: 1.5;
        font-family: Microsoft YaHei;
      }
    }
  }
}
