.headerWrap,
.pc {
  z-index: 90;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include flex();
  margin: 0 auto 10px;
  padding: 0 36px;
  width: 1200px;
  height: 60px;
  font-size: 1.2em;
  // background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  box-shadow: 0 8px 16px -4px rgba(44, 45, 48, 0.047);
  opacity: 1;
  transition: all 0.5s;
  justify-content: space-between;
  backdrop-filter: saturate(180%) blur(20px);
  .headerLeft {
    .homeIcon {
      width: 24px;
      height: 24px;
    }
  }
  .headerMid {
    .midTitle {
      padding: 0 10px;
    }
  }
  .headerRight {
  }
}
